@media screen and (max-width: 800px) {
	.filme-principal .container:first-child {
		margin-top: 20%;
		width: 100%;
	}
	
	.nav-conta, .nav-filmes a {
		display: none;
	}
	
	.nav-filmes {
		justify-content: center;
	}
	
	.nav-filmes .logo {
		width: 50%;
		align-items: center;
		margin: 0;
	}
}